.day-list__item {
  display: flex;
  flex-wrap: wrap;
}

.day-list__time-off {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.day-list__time-off label {
  margin-bottom: 0;
  max-width: 300px;
}

.day-list__del-time-off {

}
