.app-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.app-header__nav {
  display: flex;
  align-items: center;
}

.app-header__logo {
  color: inherit;
}

.app-header__logo:hover {
  color: inherit;
  text-decoration: none;
}

.app-header p {
  margin: 0;
}

